.signup-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    width: 100%;
    margin-top: 1rem;
    padding: 3px;
    background-color: #05153f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 5px;
    @apply hover:bg-primary-800
  }
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .customer-signup-wrapper{
    height: 100vh;
    width: 100%;
    background: rgb(2,0,36);}
    /* background-image: linear-gradient(to right top, #836bd1, #9070d5, #9d75da, #a97ade, #b57fe2, #b57de5, #b57ce8, #b57aeb, #a672ef, #956bf2, #7f64f7, #635ffb);  } */
  .customer-signup-main-card{
    height: 100%;
    width: 75%;
    /* background-color: ; */
  }
  .shapedividers_com-1784{
    overflow:hidden;
    position:relative;
    }
    .shapedividers_com-1784::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 90px;
    background-position: 50% 0%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbd8c2"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbd8c2"/></svg>'); 
    }
    
    @media (min-width:768px){
    .shapedividers_com-1784::before{
    background-size: 100% 90px;
    background-position: 50% 0%;   
    }  
    }
     
    @media (min-width:1025px){
    .shapedividers_com-1784::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 138px 304%;
    background-position: 100% 54%;  
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none"><path d="M1.67 0c-.55 3.07.41 9.27 0 16.14-.4 6.88-.58 13.75.1 19.14h.4V0z" fill="%23d2c1fb"/><path d="M1.16 0c-.8 3.17.4 7.29.56 10.04C1.89 12.8.25 19.3.42 22.71c.16 3.43.84 4.65.86 7.05.03 2.4-.88 5.52-.88 5.52h1.77V0z" opacity=".5" fill="%23d2c1fb"/><path d="M.31 0c.84 2.56.3 7.68.43 11.79.12 4.1.61 6.86.28 9.58-.33 2.73-1.18 5.61-1 8.61.19 3 .82 4.73.84 5.3h1.2V0z" opacity=".5" fill="%23d2c1fb"/></svg>'); 
    }
    }
    
   .customer-signup-card-right{
     /* background-color: #d2c0fa; */
     background-image: linear-gradient(90deg, #d2c0fa 0%, #e1d7f6 100%);
   }  
  
  
   .custom-shape-divider-bottom-1730197036 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1730197036 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 123px;
}

.custom-shape-divider-bottom-1730197036 .shape-fill {
    fill: #e6e1ff;
}

.customer-login-wrapper div div div a{
  background-color: white !important;
  color: #05153f;

  &:hover{
    box-shadow: rgba(219, 175, 255, 0.12) 0px 1px 3px, rgba(146, 135, 227, 0.24) 0px 1px 2px;
    border-radius: 15px;
    color:#a09dff ;
  }
  &.active{
    background-color: #05153f !important;
    color: white !important;
    transition:all .3s ease-in-out;
    box-shadow: rgba(219, 175, 255, 0.12) 0px 1px 3px, rgba(146, 135, 227, 0.24) 0px 1px 2px;
    border-radius: 15px;

  }
}

.customer-signup-area-wrapper{
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;

&::-webkit-scrollbar{
    width: 5px; /* Width of the scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: #d9e0e3; /* Background of the scrollbar track */
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
    border: 3px solid #f1f1f1;    
   }
   
  &::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  
   }
}

.card-key{
  text-transform: uppercase;
    color: rgba(13, 27, 62, 0.7);
    font-weight: bold;
    font-size: .88rem;
}

.card-value{
  color: rgb(99, 114, 159);
  font-weight: 400;
}

